/* Typographic v2.9.3 https://github.com/corysimmons/typographic */
@import 'typographic'

$line-height-ratio  = 1.75
$header-ratio       = $octave
$body-font          = $geneva
$body-font-weight   = 500
$body-color         = #000
$header-font        = $optima
$header-font-weight = 500
$header-color       = $red
$min-font           = 16px
$max-font           = 20px
$min-width          = 600px
$max-width          = 1140px
$vertical-rhythm    = true

typographic()

/* Bootstrap 3.3.6 https://github.com/maxmx/bootstrap-stylus */
//@import 'bootstrap'


/* Tmg v2 https://github.com/davidecrenna/Tmg_dev */

$white-palette = rgba(#fff4e6,1)
$brown-light = rgba(#be9b7b,1)
$brown-medium = rgba(#4b3832,1)
$brown-dark = rgba(#3c2f2f,1)
$red = rgba(#854442,1)
$black = rgba(#000000,1)
$white = rgba(#ffffff,1)

html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

body 
	//lost-utility: edit
	width: 100%
	height: 100vh
	display: flex
	align-items: center
	justify-content: center
	background: $white-palette
	color: $red
		

@import 'components/nav'
 
@import 'components/footer'
